{% extends 'navbar.html' %}
{% load static %}
{% block content %}
 
    <section id="iq-home" class="banner iq-bg iq-bg-fixed iq-box-shadow iq-over-black-90" style=" background: url(images/banner/bg.jpg);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="container">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="banner-text">
                            <div class="row">
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <h1 class="iq-font-white iq-tw-8" data-animation="animated fadeInLeft">
                                        <small class="iq-font-white iq-tw-3"> <strong class="iq-font-white"></strong> We are a company that focuses on managing, developing company products through rapid innovation and offering designing, developing great ICT products and services to our customers using Human centered design (HCD) approach.  
                                        </small></h1>

                                </div>
                                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                                    <div class="img-one pull-right">
                                        <img class="img-responsive" data-animation="animated fadeInRight" src="images/banner/01.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Banner End -->

<div class="main-content">

    <!-- Feature -->

    <section  class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Mission</h2>
                        <div class="divider"></div>
                        <p>We strive to offer high quality products, lowest possible prices, mostly available anywhere and offering informative actionable big data for positive social impact through our solutions.</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- Feature END -->


    <!-- About Our App -->

    <section class="iq-about grey-bg iq-mtb-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 col-md-4 p-3">
                    <iframe width="350" height="315" src="https://www.youtube.com/embed/bWjTfj_mDLY" class="p-3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <div class="iq-bg about-img popup-gallery play-video">
                        <img class="img-responsive center-block" src="images/about-us.jpg" alt="#">
                        <a href="https://www.youtube.com/embed/bWjTfj_mDLY" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                        <div class="iq-waves">
                            <div class="waves wave-1"></div>
                            <div class="waves wave-2"></div>
                            <div class="waves wave-3"></div>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-12 col-lg-7 col-md-8 ">
                    <h2 class="heading-left iq-tw-6 ">Our Vision</h2>
                    <div class="lead iq-tw-6 iq-mb-20">JUPITA Co Ltd is turnkey technology company that integrate ICT and engineering technologies in social- economic challenges with a strategic objective to be a leading provider of innovative products and services globally by strategic development of new products through rapid innovation.</div>
                    <p>This vision statement underscores the business organization’s main aim of becoming the global factory of products, most customer centric company and credible global social impact platform.</p>
                   
                </div>
            </div>
        </div>
    </section>

    <!-- About Our App END -->


    <!-- Special Features -->
    <!-- Special Features END -->
    <section id="services" class="overview-block-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Services</h2>
                        <div class="divider"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 col-md-3">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-world-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Web App Development</h5>
                            <p>Make your business available and accessible anytime and anywhere, all you need is a web browser
                            </p>
                            <span class="iq-big-title">01</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re7-mt-50">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-android-phone-portrait"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Mobile App Development</h5>
                            <p>Extend your business services and content to mobile devices via apps and end users to consume anytime and anywhere.
                            </p>
                            <span class="iq-big-title">02</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re-mt-30">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-android-settings"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Hardware Devices Development</h5>
                            <p>Company develops its own products and also develops products for its clients. We take our customers though all subsequent steps of a product development.</p>
                            <span class="iq-big-title">03</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re-mt-30">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-videocam"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">System Design, Graphics and Video production</h5>
                            <p>We are using the Human Centered Design approach (HCD) in system development as a more engaging approach between user.</p>
                            <span class="iq-big-title">04</span>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>



    <!-- App Screenshots -->

    <section id="screenshots" class="iq-app iq-bg iq-bg-fixed iq-font-white" style="background: url(images/banner/bg.jpg);margin-top: 5vh;" >
        <div class="container-fluid">
            <div class="row row-eq-height">
                <div class="col-md-6 text-left iq-ptb-80 green-bg">
                <div class="iq-app-info">
                    <h2 class="heading-left iq-font-white white iq-tw-6 ">More on Services</h2>
                   
                    <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
                </div>
                </div>
                <div class="col-md-6 iq-app-screen iq-ptb-80">

            </div>
        </div>
      </div>
    </section>
    <!-- Partners -->
    <div class="iq-our-clients white-bg iq-ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Partners</h2>
                        <div class="divider"></div>
                        <p>Our Customer are our priority. we believe in providing best services to them. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/01.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/02.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/03.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/04.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/05.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/06.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/07.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/08.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/09.png" alt="#"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="products" class="overview-block-ptb grey-bg iq-loved-customers">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Products</h2>
                        <div class="divider"></div>
                        <p>Our Customer are our priority. we believe in providing best services to them. </p>
                    </div>
                </div>
            </div>
            <div class="row">

                        {% for data in product %}
                        <div class="col-sm-12 col-md-4 re-mt-30" style="margin-top: 4vh;">
                            <div class="iq-blog-box">
                                <div class="iq-blog-image clearfix">
                                    <img class="img-responsive center-block" src="{{data.product_pictures.url}}" alt="#">
                                </div>
                                <div class="iq-blog-detail">
                                    <div class="blog-title"> <a href="javascript:void(0)"><h5 class="iq-tw-6">{{data.title}}</h5> </a> </div>

                                    <div class="blog-content">
                                        <p>{{data.description}}</p>
                                    </div>
                                    <div class="blog-button">
                                        <a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i>Jupita</a>
                                        <a href="{% url 'pages:products_details' pk=data.id %}" class="pull-right iq-tw-6" style="color:white;background-color:#1e50e2;padding-left: 9px;padding-right: 9px;border-radius: 7px;">View Product <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

            </div>
        </div>
    </section>

  <!-- Meet The Team -->
  <section class="overview-block-ptb grey-bg iq-loved-customers" style="background-color: rgb(247, 239, 239);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title">
                    <h2 class="title iq-tw-6">Meet The Team</h2>
                    <div class="divider"></div>
                    <p>Our Customer are our priority. we believe in providing best services to them. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="2" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15" >

                    {% for data in team %}
                    <div class="item">
                        <div class="iq-client white-bg">
                            <div class="client-img">
                                <img alt="#" class="img-responsive img-circle" src="{{data.individual_picture.url}}">
                            </div>
                            <div class="client-info">
                                <div class="client-name iq-mb-10">
                                    <h5 class="iq-tw-6">{{data.name}}</h5>
                                    <span class="sub-title iq-tw-6">{{data.position}}</span>
                                </div>
                                <p>{{data.details}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                   
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Amazing Feature END -->

    
    <!-- Clients -->
    <div class="iq-our-clients white-bg iq-ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Clients</h2>
                        <div class="divider"></div>
                        <p>Our Customer are our priority. we believe in providing best services to them. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/01.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/02.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/03.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/04.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/05.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/06.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/07.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/08.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/09.png" alt="#"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section id="blog" class="overview-block-ptb white-bg iq-blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Latest Blog Post</h2>
                        <div class="divider"></div>
                        <p>We have completely updated our work, making it much easier for you to find the information you need. Check out the recently updated work and learn more about application.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for data in news %}
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{data.blog_pictures.url}}" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="javascript:void(0)"><h5 class="iq-tw-6">{{data.heading}}</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> {{data.date_created}}</a></li>
                                    
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>{{data.subheading}}</p><a href="{% url 'pages:blog_details' pk=data.id %}" style="color: #1e50e2;">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-12 text-center">
                    <a class="button iq-mt-50" href="{% url 'pages:blog' %}">Go To Blog</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients END -->

</div>

    <!-- back-to-top -->
    
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>

    <!-- back-to-top End -->

</body>


<!-- Mirrored from iqonic.design/themes/appino/v1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Dec 2020 17:52:50 GMT -->
</html>
{% endblock %}