{% extends 'navbar.html' %}
{% load static %}
{% block content %}
 
    <section id="iq-home" class="banner iq-bg iq-bg-fixed iq-box-shadow iq-over-black-90" style=" background: url(images/banner/bg.jpg);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="container">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="banner-text">
                            <div class="row">
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <h1 class="iq-font-white iq-tw-8" data-animation="animated fadeInLeft">
                                        <small class="iq-font-white iq-tw-5"> <strong class="iq-font-white">&#9679;</strong> Appino provide amazing & outstanding feature(Welcome Text)</small>AWESOME MOBILE APP</h1>
                                    <div class="link">
                                        <h5 class="iq-font-white" data-animation="animated fadeInLeft">Free Download Here</h5>
                                        <ul class="list-inline" data-animation="animated fadeInUp">
                                            <li><a href="javascript:void(0)"><i class="ion-social-apple"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="ion-social-android"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="ion-social-windows"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                                    <div class="img-one pull-right">
                                        <img class="img-responsive" data-animation="animated fadeInRight" src="images/banner/01.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Banner End -->

<div class="main-content">

    <!-- Feature -->

    <section  class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Mission</h2>
                        <div class="divider"></div>
                        <p>We've been working really hard to improve the appino with this amazing new features that you aked for! Check out the appino’s new  amazing features. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="iq-fancy-box text-left">
                        <img src="images/services/icon1.png" alt="#">
                        <h4 class="iq-tw-6">Easy to Customize</h4>
                        <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-fancy-box text-left">
                        <img src="images/services/icon2.png" alt="#">
                        <h4 class="iq-tw-6">Multipurpose layout</h4>
                        <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-fancy-box text-left">
                        <img src="images/services/icon3.png" alt="#">
                        <h4 class="iq-tw-6">Unique Design</h4>
                        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simplytypesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Feature END -->


    <!-- About Our App -->

    <section class="iq-about grey-bg iq-mtb-40">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-12 col-lg-5 col-md-5 iq-about-bg">
                    <div class="iq-bg about-img popup-gallery play-video">
                        <img class="img-responsive center-block" src="images/about-us.jpg" alt="#">
                        <a href="video/01.mp4" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                        <div class="iq-waves">
                            <div class="waves wave-1"></div>
                            <div class="waves wave-2"></div>
                            <div class="waves wave-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7 col-md-7 iq-pall-50">
                    <h2 class="heading-left iq-tw-6 ">Our Vision</h2>
                    <div class="lead iq-tw-6 iq-mb-20">This Appino application delivers the most trusted services for your bussiness to succeed in the global app environment.</div>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, naking this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    <a class="button iq-mt-15" href="# ">Download</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Our App END -->


    <!-- Special Features -->
    <!-- Special Features END -->
    <section id="services" class="overview-block-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Services</h2>
                        <div class="divider"></div>
                        <p>Appino is available with new technology and new creative ideas, which works with high resolutions. There is many more features available with different and unique work.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 col-md-3">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">High Resolution</h5>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <span class="iq-big-title">01</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re7-mt-50">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-settings"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Color Schemes</h5>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <span class="iq-big-title">02</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re-mt-30">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-social-googleplus-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Google Fonts</h5>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <span class="iq-big-title">03</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-3 re-mt-30">
                    <div class="iq-fancy-box-02 text-center">
                        <div class="iq-icon">
                            <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Clean Codes</h5>
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <span class="iq-big-title">04</span>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>



    <!-- App Screenshots -->

    <section id="screenshots" class="iq-app iq-bg iq-bg-fixed iq-font-white" style="background: url(images/banner/bg.jpg);margin-top: 5vh;" >
        <div class="container-fluid">
            <div class="row row-eq-height">
                <div class="col-md-6 text-left iq-ptb-80 green-bg">
                <div class="iq-app-info">
                    <h2 class="heading-left iq-font-white white iq-tw-6 ">More on Services</h2>
                    <div class="lead iq-tw-6 iq-mb-20">Appino is here with its best screenshot, from this photo gallery you can get idea about this application.</div>
                    <h4 class="iq-mt-50 iq-font-white iq-tw-6 iq-mb-15">Lets build together</h4>
                    <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
                </div>
                </div>
                <div class="col-md-6 iq-app-screen iq-ptb-80">

            </div>
        </div>
      </div>
    </section>


    <section id="products" class="overview-block-ptb grey-bg iq-loved-customers">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Products</h2>
                        <div class="divider"></div>
                        <p>Our Customer are our priority. we believe in providing best services to them. </p>
                    </div>
                </div>
            </div>
            <div class="row">

                        {% for data in product %}
                        <div class="col-sm-12 col-md-4 re-mt-30" style="margin-top: 4vh;">
                            <div class="iq-blog-box">
                                <div class="iq-blog-image clearfix">
                                    <img class="img-responsive center-block" src="{{data.product_pictures.url}}" alt="#">
                                </div>
                                <div class="iq-blog-detail">
                                    <div class="blog-title"> <a href="javascript:void(0)"><h5 class="iq-tw-6">{{data.title}}</h5> </a> </div>

                                    <div class="blog-content">
                                        <p>{{data.description}}</p>
                                    </div>
                                    <div class="blog-button">
                                        <a href="javascript:void(0)" class="pull-left iq-tw-6 iq-user"><i class="fa fa-user-circle" aria-hidden="true"></i>Jupita</a>
                                        <a href="{% url 'pages:products_details' pk=data.id %}" class="pull-right iq-tw-6" style="color:white;background-color:#1e50e2;padding-left: 9px;padding-right: 9px;border-radius: 7px;">View Product <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

            </div>
        </div>
    </section>
    <!-- Clients -->

    <div class="iq-our-clients white-bg iq-ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Our Clients</h2>
                        <div class="divider"></div>
                        <p>Our Customer are our priority. we believe in providing best services to them. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/01.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/02.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/03.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/04.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/05.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/06.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/07.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/08.png" alt="#"></div>
                        <div class="item"> <img class="img-responsive center-block" src="images/clients/gray/09.png" alt="#"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section id="blog" class="overview-block-ptb white-bg iq-blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Latest Blog Post</h2>
                        <div class="divider"></div>
                        <p>We have completely updated our work, making it much easier for you to find the information you need. Check out the recently updated work and learn more about application.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for data in news %}
                <div class="col-sm-12 col-md-4 re-mt-30">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img class="img-responsive center-block" src="{{data.blog_pictures.url}}" alt="#">
                        </div>
                        <div class="iq-blog-detail">
                            <div class="blog-title"> <a href="javascript:void(0)"><h5 class="iq-tw-6">{{data.heading}}</h5> </a> </div>
                            <div class="iq-blog-meta">
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> {{data.date_created}}</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <p>{{data.subheading}}</p><a href="{% url 'pages:blog_details' pk=data.id %}" style="color: #1e50e2;">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-12 text-center">
                    <a class="button iq-mt-50" href="{% url 'pages:blog' %}">Go To Blog</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients END -->

</div>

    <!-- back-to-top -->
    
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>

    <!-- back-to-top End -->

</body>


<!-- Mirrored from iqonic.design/themes/appino/v1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Dec 2020 17:52:50 GMT -->
</html>
{% endblock %}