{% extends 'navbar.html' %}
{% load static %}
{% block content %}
 
<!--======= intro =======-->
 
<section class="iq-breadcrumb overview-block-pt text-center iq-bg iq-bg-fixed iq-over-black-90 iq-box-shadow" style="background: url(images/about/04.jpg);" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title iq-breadcrumb-title iq-mtb-100">
                  
                        <h1 class="title iq-tw-8 iq-font-white">{{individual_news.heading}}</h1>
                   
                        <div class="divider white"></div>
                    </div>
                <ul class="breadcrumb">
                    <li><a href="{% url 'pages:blog' %}"><i class="ion-home"></i> Blog</a></li>
                    <li class="active">News</li>
                </ul>
            </div>
        </div>
    </div>
</section>
  
<!--======= End intro =======-->

<div class="main-content">   
<!--======= Blog =======-->

<section id="blog" class="iq-page-blog overview-block-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-blog-box">
                    <div class="iq-blog-image clearfix">
                        <img class="img-responsive center-block" src="{{individual_news.blog_pictures.url}}" alt="#">
                    </div>
                    <div class="iq-blog-detail">
                        <div class="blog-title"> <a href="#"><h5 class="iq-tw-6">{{individual_news.heading}}</h5> </a> </div>
                        <div class="iq-blog-meta">
                            <ul class="list-inline">
                                <li><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i>  {{individual_news.date_created}}</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog-content">
                            <p>{{individual_news.subheading}}</p>
                            
                        </div>
                        <blockquote class="iq-mtb-40">
                            <p>{{individual_news.description}}</p>
                            <footer>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                      <h4 >Visit</h4>
                        <ul class="iq-tags list-inline iq-mtb-40">
                            <li><a href="{{individual_news.website_link}}"><i class="fa fa-website" aria-hidden="true"></i> Visit official site</a></li>
                            
                        </ul>
                        <div class="iq-post-author iq-mtb-20 iq-pall-30 green-bg">
                            <div class="iq-post-author-pic iq-mr-25">
                                <img alt="#" class="img-circle" src="images/testimonial/01.jpg">
                            </div>
                            <div class="iq-comment-content">
                                <div class="iq-comment-author">
                                    <a class="lead iq-mtb-10 iq-tw-6 iq-font-white" href="javascript:void(0)">Vishal Patolia</a>
                                </div>
                                <p class="iq-font-white">CEO &amp; It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--======= End Blog =======--> 
</div>
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>
</body>

<!-- Mirrored from iqonic.design/themes/appino/v1/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Dec 2020 17:53:18 GMT -->
</html>
{% endblock %}